header,footer{
    height: 80px;
    color: white;
    text-align: center;
    width: 100%;
}
header{
    background-color: red;
}
main{
    color: white;
    background-color: blue;
    text-align: center;
    height: 500px;
    width: 100%;
}
footer{
    background-color: black;
}