.dev-tag{
    display: flex;
    height: 200px;
    width: 500px;
    background-color: black;
    overflow: hidden;
    
}
.span-tag{
    margin:auto ;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: red;
}
