.dev-tag{
    position: relative;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: #f6f5f4;
    overflow: hidden;
    
}
.span-tag{
    position: absolute;
    margin: auto;
    height: 100px;
    width: 100px;
    text-align: center;
}
.child1{
    z-index: 4;
    top: 50px;
    left: 50px;
    background-color:#ff9abc
}
.child2{ 
    z-index: 3;
    top: 100px;
    left: 100px;
    background-color:#f9b9ff
}
.child3{   
    z-index: 2; 
    top: 150px;
    left: 150px;
    background-color:#cbb8ff
}
.child4{
    z-index: 1;
    top: 200px;
    left: 200px;
    background-color:#acb5ff
}